body {
  background-color:  lightyellow;
}

.text {
  font-weight: bold;
}

.em {
  font-style: italic;
}

h1 {
  text-align: center;
  color: orange;
  font-size: 50px;
}

.content-1 {
  background-color: white;
}

.content-2 {
  background-color: aquamarine;
}

.content-3 {
  background-color: coral;
  color: white;
}

.sub-heading {
  color: red;
}

